<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Department List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/Styles.css}">
</head>
<body>
<h1>Department List</h1>
<div th:if="${message}" class="alert alert-success">
    <p th:text="${message}"></p>
</div>

<div th:if="${errorMessage}" class="alert alert-danger">
<p th:text="${errorMessage}"></p>
</div>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="department : ${departments}">
        <td th:text="${department.id}"></td>
        <td th:text="${department.name}"></td>
        <td>
            <a th:href="@{/departments/edit/{id}(id=${department.id})}">Edit</a>
            <a th:href="@{/departments/delete/{id}(id=${department.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a class="button" href="/departments/add">Add New Department</a>
</body>
</html>